Repository evmos/ethermint, pull requests merged in 2021-06, with the labels that each got.

#103 feat: auto labeler, cleanup github actions
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/labeler.yml
  .github/workflows/release-sims.yml
  .github/workflows/sims.yml
  .github/workflows/stale.yml
  .github/workflows/test.yml
Labels: Type: CI

#116 build: deploy docs to GitHub Pages
  .github/workflows/docs.yml
  CONTRIBUTING.md
  Makefile
  client/docs/statik/init.go
  client/docs/statik/statik.go
  docs/.vuepress/config.js
  docs/guides/join_network.md
  docs/intro/resources.md
  docs/package-lock.json
  docs/package.json
  docs/pre.sh
  docs/quickstart/testnet.md
  docs/versions
  docs/yarn.lock
Labels: C:CLI, Type: Build, Type: CI, Type: Docs

#120 ante, evm: fix panic when checking BlockGasMeter
  app/ante/eth.go
  ethereum/rpc/eth_api.go
  tests/rpc/rpc_test.go
  types/block.go
  x/evm/keeper/state_transition.go
  x/evm/types/protocol.go
Labels: C:JSON-RPC, C:Types, Type: Tests

#122 docs: update ADR-001
  docs/architecture/adr-001-state.md
  x/evm/keeper/state_transition.go
Labels: Type: ADR, Type: Docs

#128 rpc: remove error on `personal_unlockAccount`
  ethereum/rpc/personal.go
Labels: C:JSON-RPC

#165 deps: bump SDK and Tendermint versions
  CHANGELOG.md
  go.mod
  go.sum
  tests/tooling/ethers/ethers.js
  x/evm/keeper/abci.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
Labels: D: Cosmos SDK, D: Tendermint, Type: Tests

#181 rpc: use evm denom for tx fee
  CHANGELOG.md
  ethereum/rpc/namespaces/eth/api.go
  ethereum/rpc/types/utils.go
Labels: C:JSON-RPC

#182 evm: update log tx hash key
  ethereum/rpc/types/utils.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Labels: C:JSON-RPC, C:x/evm

#132 tests: add testutils for integration testing
  Makefile
  clang-format
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  cmd/ethermintd/config/config.go
  cmd/ethermintd/start.go
  crypto/ethsecp256k1/keys.pb.go
  encoding/config.go
  go.mod
  go.sum
  server/util.go
  tests/e2e/integration_test.go
  testutil/network/doc.go
  testutil/network/network.go
  testutil/network/network_test.go
  testutil/network/util.go
  types/account.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
Labels: C:CLI, C:Crypto, C:Encoding, C:Types, Type: Build, Type: Tests

#204 rpc: fix JSON-RPC block extraData
  ethereum/rpc/types/utils.go
Labels: C:JSON-RPC, Type: Bug

#194 all: bump SDK to `v0.43.0-rc0`
  .github/workflows/test.yml
  Makefile
  app/ante/ante.go
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  app/app.go
  client/keys.go
  client/keys/keysadd.go
  client/keys/utils.go
  client/testnet.go
  cmd/ethermintd/config/config.go
  cmd/ethermintd/config/config_test.go
  cmd/ethermintd/config/toml.go
  cmd/ethermintd/genaccounts.go
  cmd/ethermintd/root.go
  cmd/ethermintd/util.go
  crypto/ethsecp256k1/ethsecp256k1_test.go
  crypto/hd/algorithm_test.go
  docs/core/proto-docs.md
  ethereum/rpc/namespaces/personal/api.go
  go.mod
  go.sum
  init.sh
  proto/ethermint/types/v1alpha1/account.proto
  scripts/integration-test-all.sh
  scripts/start.sh
  server/start.go
  server/util.go
  testutil/network/network.go
  testutil/network/util.go
  types/account.go
  types/account.pb.go
  types/account_test.go
  types/int.go
  x/evm/genesis.go
  x/evm/genesis_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params.go
  x/evm/keeper/statedb.go
  x/evm/module.go
  x/evm/types/interfaces.go
Labels: C:CLI, C:Crypto, C:JSON-RPC, C:Proto, C:Types, Type: Build, Type: CI, Type: Docs

#208 feat: use `sdk.Int` for `TxData`
  CHANGELOG.md
  app/app.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/keys/utils.go
  docs/core/proto-docs.md
  ethereum/rpc/namespaces/eth/api.go
  ethereum/rpc/types/types.go
  ethereum/rpc/types/utils.go
  go.mod
  go.sum
  proto/ethermint/evm/v1alpha1/evm.proto
  proto/ethermint/evm/v1alpha1/query.proto
  types/config.go
  types/int.go
  types/int_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/evm.pb.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/query.pb.go
  x/evm/types/tx_data.go
  x/evm/types/tx_data_test.go
Labels: C:CLI, C:JSON-RPC, C:Proto, C:Types, Type: Docs
