Repository evmos/ethermint, pull requests merged in 2021-11, with the labels that each got.

#727 Decode raw transaction via RLP
  CHANGELOG.md
  rpc/ethereum/namespaces/eth/api.go
Labels: Type: Bug

#717 benchmark evm message calls
  scripts/gen-tests-artifacts.sh
  tests/solidity/suites/basic/contracts/TestMessageCall.sol
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/TestMessageCall.json
  x/evm/types/compiled_contract.go
Labels: Type: Tests

#736 Update README.md
  README.md
Labels: Type: Docs

#704 tests: integration tests with JSON-RPC client
  .golangci.yml
  CHANGELOG.md
  client/testnet.go
  cmd/ethermintd/root.go
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/block.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  scripts/integration-test-all.sh
  tests/e2e/integration_test.go
  testutil/network/network.go
  testutil/network/network_test.go
  testutil/network/util.go
  tools/tools.go
  x/evm/types/utils.go
Labels: Type: Tests, Type: Build, Type: CI, C:CLI

#748 Problem: need to add JSON-RPC endpoint personal_listWallets
  CHANGELOG.md
  rpc/ethereum/namespaces/personal/api.go
  tests/rpc/personal_test.go
Labels: C:JSON-RPC

#746 set debug based on tracer
  CHANGELOG.md
  app/app.go
  init.sh
  server/config/config.go
  tests/solidity/init-test-node.sh
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Labels: Type: Bug, C:x/evm

#750 ci: add gosec to PRs and main
  .github/workflows/security.yml
  tests/solidity/suites/staking/.github/workflows/ci_contracts.yml
Labels: Type: CI

#754 Problem: need to add JSON-RPC endpoint debug_intermediateRoots
  CHANGELOG.md
  rpc/ethereum/namespaces/debug/api.go
Labels: C:JSON-RPC

#751 fix: don't revert gas refund logic when transaction reverted
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/state_transition.go
Labels: Type: Bug

#749 feemarket: unit tests
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/types/genesis_test.go
  x/feemarket/types/params_test.go
Labels: Type: Tests, C:CLI

#758 ENG 210 Fee Market unit tests 2
  app/ante/ante_test.go
  app/ante/eth_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/types/params.go
Labels: C:CLI

#770 RPC tests are failing if FeeMarket Base Fee is enabled by default
  CHANGELOG.md
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
  x/feemarket/types/params.go
Labels: Type: Tests

#775 release: v0.8.1 changes
  .github/workflows/test.yml
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  go.mod
  go.sum
  rpc/ethereum/namespaces/eth/api.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  tests/rpc/utils.go
  x/feemarket/keeper/abci_test.go
  x/feemarket/keeper/eip1559_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/keeper/keeper_test.go
  x/feemarket/keeper/params_test.go
  x/feemarket/types/params.go
Labels: Type: Tests, Type: CI, C:CLI

#776 ci: enable gosec sarif upload
  .github/workflows/security.yml
Labels: Type: CI

#784 ci: enable backport for v0.8 and v0.7
  .clang-format
  .mergify.yml
  CHANGELOG.md
Labels: Type: CI

#782 Problem: web3 rpc api returns wrong block gas limit
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/types/utils.go
Labels: backport/v0.7.x, backport/v0.8.x

#779 ENG 256 fix gosec issues
  app/export.go
  client/testnet.go
  cmd/ethermintd/root.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/utils.go
  server/flags/flags.go
  server/start.go
  testutil/network/network.go
Labels: C:CLI

#786 improve error message in `SendTransaction` json-rpc api
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  go.mod
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/miner/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/utils.go
  x/evm/types/chain_config.go
Labels: backport/0.7.x, backport/0.8.x

#781 Fix get block
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
Labels: backport/0.7.x, backport/0.8.x

#794 feat: store migration setup
  CHANGELOG.md
  cmd/ethermintd/root.go
  x/evm/keeper/migrations.go
  x/evm/module.go
  x/feemarket/keeper/migrations.go
  x/feemarket/module.go
Labels: backport/0.8.x

#774 tests: geth client wrapper
  server/config/config.go
  tests/e2e/integration_test.go
  testutil/network/network.go
Labels: Type: Tests

#798 Problem: ForEachStorage sematic not compatible with go-ethereum
  CHANGELOG.md
  testutil/network/util.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Labels: automerge

#802 Clear access list for each transaction
  CHANGELOG.md
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
Labels: automerge
