Repository evmos/ethermint, pull requests merged in 2021-07, with the labels that each got.

#220 evm: `TxData` as `proto.Any`
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  crypto/ethsecp256k1/keys.pb.go
  docs/core/proto-docs.md
  encoding/config_test.go
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/eth/api.go
  ethereum/rpc/types/types.go
  ethereum/rpc/types/utils.go
  go.mod
  go.sum
  proto/ethermint/evm/v1alpha1/evm.proto
  proto/ethermint/evm/v1alpha1/tx.proto
  scripts/protocgen.sh
  types/account.pb.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/statedb_test.go
  x/evm/types/access_list_tx.go
  x/evm/types/codec.go
  x/evm/types/codec_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/legacy_tx.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
  x/evm/types/tx_data_test.go
Labels: C:CLI, C:Crypto, C:Encoding, C:JSON-RPC, C:Proto, C:Types, Type: Build, Type: Docs

#239 evm, rpc: query ChainConfig via gRPC
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  ethereum/rpc/backend/backend.go
  go.mod
  go.sum
  proto/ethermint/evm/v1alpha1/query.proto
  proto/ethermint/evm/v1alpha1/tx.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
Labels: C:CLI, C:JSON-RPC, C:Proto, Type: Docs

#261 `getTransactionByHash` don't find tx in mempool
  ethereum/rpc/namespaces/eth/api.go
  tests/rpc/rpc_pending_test.go
Labels: C:JSON-RPC

#265 rpc: fix inconsistent logging levels
  ethereum/rpc/apis.go
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/eth/api.go
  ethereum/rpc/namespaces/eth/filters/api.go
  ethereum/rpc/namespaces/eth/filters/filter_system.go
  ethereum/rpc/namespaces/eth/filters/filters.go
  ethereum/rpc/namespaces/personal/api.go
  ethereum/rpc/namespaces/txpool/api.go
  ethereum/rpc/websockets.go
  server/start.go
  tests/solidity/init-test-node.sh
  testutil/network/util.go
Labels: C:JSON-RPC, Type: Tests

#266 evm: move `ChainConfig` to `Params`
  app/ante/eth.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/core/proto-docs.md
  ethereum/rpc/backend/backend.go
  go.mod
  go.sum
  proto/ethermint/evm/v1alpha1/evm.proto
  proto/ethermint/evm/v1alpha1/genesis.proto
  proto/ethermint/evm/v1alpha1/query.proto
  x/evm/genesis.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/params.go
  x/evm/keeper/state_transition.go
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.go
  x/evm/types/genesis.pb.go
  x/evm/types/genesis_test.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Labels: C:CLI, C:JSON-RPC, C:Proto, Type: Docs

#290 rpc: display block proposer address as the miner address
  ethereum/rpc/backend/backend.go
  ethereum/rpc/types/utils.go
Labels: C:JSON-RPC

#298 deps: bump SDK to v0.43.0-rc1
  CHANGELOG.md
  go.mod
  go.sum
Labels: D: Cosmos SDK, Type: Build

#254 Fix `eth_getBlockTransactionCountByNumber` crashed on block not found
  ethereum/rpc/namespaces/eth/api.go
  tests/rpc/rpc_test.go
Labels: automerge

#346 keys: fix `secp256k1` key creation
  CHANGELOG.md
  Makefile
  client/keys/add.go
Labels: C:CLI, Type: Build

#352 Problem: missing support of init.sh for windows #339
  init.bat
Labels: Type: Build

#360 deps: bump ibc-go
  CHANGELOG.md
  app/ante/ante.go
  app/ante/utils_test.go
  app/app.go
  go.mod
  go.sum
Labels: dependencies

#378 feat: import ethermint without forking
  .github/workflows/test.yml
  app/app.go
  client/config.go
  client/testnet.go
  cmd/config/config.go
  cmd/config/config_test.go
  cmd/ethermintd/flags.go
  cmd/ethermintd/genaccounts.go
  cmd/ethermintd/main.go
  cmd/ethermintd/root.go
  ethereum/rpc/namespaces/personal/api.go
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/evmrpc.go
  server/flags.go
  server/start.go
  testutil/network/network.go
  types/chain_id.go
  types/coin.go
  types/hdpath.go
Labels: C:CLI, C:JSON-RPC, C:Types, Type: CI

#384 evm: dynamic fee tx
  buf.yaml
  docs/core/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1alpha1/query.proto
  proto/ethermint/evm/v1alpha1/tx.proto
  x/evm/types/access_list_tx.go
  x/evm/types/codec.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/errors.go
  x/evm/types/legacy_tx.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/evm/types/tx_data.go
Labels: C:Proto, Type: CI, Type: Docs
