Repository evmos/ethermint, pull requests merged in 2021-09, with the labels that each got.

#417 Allow evm to call native modules through logs
  CHANGELOG.md
  docs/architecture/adr-002-evm-hooks.md
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/errors.go
  x/evm/types/interfaces.go
Labels: automerge

#512 Problem: export state & import as genesis (fix #510)
  x/evm/types/genesis.go
  x/evm/types/genesis_test.go
Labels: Type: Bug, C:x/evm, automerge

#517 antehandler refactor
  app/ante/ante.go
  app/ante/eth.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/interfaces.go
Labels: C:x/evm

#523 deps: bump go to 1.17
  .github/workflows/goreleaser.yml
  .github/workflows/test.yml
  Makefile
  README.md
  docs/quickstart/installation.md
  go.mod
  go.sum
Labels: Type: Docs, Type: Build, Type: CI

#524 all: cleanup imports
  crypto/ethsecp256k1/ethsecp256k1.go
  crypto/ethsecp256k1/ethsecp256k1_test.go
  crypto/hd/algorithm.go
  docs/architecture/adr-002-evm-hooks.md
  tests/importer/chain_ctx.go
  tests/importer/chain_ctx_test.go
  tests/importer/importer_test.go
  tests/rpc/personal_test.go
  tests/rpc/rpc_test.go
  types/account.go
  types/validation.go
  types/validation_test.go
  x/evm/atlas/atlas-v0.3.1.md
  x/evm/genesis.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/statedb_test.go
  x/evm/types/access_list.go
  x/evm/types/genesis_test.go
  x/evm/types/interfaces.go
  x/evm/types/key.go
  x/evm/types/logs.go
  x/evm/types/logs_test.go
  x/evm/types/msg_test.go
  x/evm/types/storage.go
  x/evm/types/storage_test.go
  x/evm/types/utils_test.go
Labels: Type: Docs, Type: Tests, C:Crypto, C:Types, Type: ADR

#525 rpc, docs: private APIs
  docs/api/README.md
  docs/api/json-rpc/endpoints.md
  docs/api/json-rpc/events.md
  docs/api/json-rpc/namespaces.md
  docs/api/json-rpc/running_server.md
  docs/api/json-rpc/server.md
  docs/basics/README.md
  docs/basics/accounts.md
  docs/basics/chain_id.md
  docs/basics/gas.md
  docs/basics/transactions.md
  ethereum/rpc/apis.go
  ethereum/rpc/namespaces/miner/api.go
Labels: Type: Docs, C:JSON-RPC

#534 update discord link
  .github/workflows/test.yml
  README.md
  docs/.vuepress/config.js
Labels: Type: CI

#535 crypto: updates from reviews
  .github/workflows/test.yml
  app/ante/ante_test.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  client/export.go
  crypto/ethsecp256k1/ethsecp256k1.go
  crypto/ethsecp256k1/ethsecp256k1_test.go
  crypto/hd/algorithm.go
  tests/signer.go
  x/evm/types/logs_test.go
  x/evm/types/msg_test.go
  x/evm/types/utils_test.go
Labels: Type: Bug, Type: Tests, C:Crypto, Type: CI, C:CLI

#542 evm: rm recover
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  x/evm/handler.go
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
Labels: Type: Docs, C:Proto, C:CLI

#544 evm: log pagination
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/feemarket/types/feemarket.pb.go
Labels: Type: Docs, C:Proto, C:CLI

#549 build: fix tag
  Makefile
Labels: Type: Build

#555 RPC: `debug_traceBlockByNumber`
  CHANGELOG.md
  docs/api/json-rpc/endpoints.md
  docs/api/proto-docs.md
  ethereum/rpc/backend/backend.go
  ethereum/rpc/namespaces/debug/api.go
  go.mod
  go.sum
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/types/query.pb.go
  x/evm/types/tracer.go
Labels: C:JSON-RPC, automerge

#566 Fail early on StateDB functions
  CHANGELOG.md
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Labels: automerge

#584 ante: move deduct gas to EVM keeper
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
Labels: C:x/evm

#592 fix：convert &T{} to (*T)(nil) in error message to avoid unnecessary memory allocation
  app/ante/eth.go
Labels: automerge

#585 rpc: geth v1.10.8 changes
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/personal/api.go
  ethereum/rpc/types/query_client.go
Labels: C:JSON-RPC

#596 rpc: fix gas price
  ethereum/rpc/backend/backend.go
Labels: C:JSON-RPC

#597 evm: check height overflow
  CHANGELOG.md
  types/validation.go
  types/validation_test.go
  x/evm/keeper/state_transition.go
Labels: C:Types

#598 rpc: fix truncation
  CHANGELOG.md
  ethereum/rpc/types/block.go
Labels: C:JSON-RPC

#600 rpc, server: add TLS certificate for websocket
  CHANGELOG.md
  ethereum/rpc/websockets.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Labels: C:JSON-RPC

#607 docs: banner & other
  .github/workflows/goreleaser.yml
  README.md
  docs/ethermint.jpg
  x/evm/atlas/atlas-v0.3.1.md
Labels: Type: Docs, Type: CI
