Repository evmos/ethermint, pull requests merged in 2021-12, with the labels that each got.

#804 tests: eth_sendRawTx
  tests/e2e/integration_test.go
  x/evm/types/compiled_contract.go
Labels: Type: Tests

#807 docs: backport changelog updates
  .mergify.yml
  CHANGELOG.md
Labels: Type: CI

#824 Docs(Ethermint): ENG-158 Update-EVM Spec
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/03_state_transitions.md
  x/evm/spec/04_messages.md
  x/evm/spec/04_transactions.md
  x/evm/spec/05_abci.md
  x/evm/spec/06_hooks.md
  x/evm/spec/07_events.md
  x/evm/spec/07_params.md
  x/evm/spec/08_params.md
  x/evm/spec/09_client.md
  x/evm/spec/README.md
Labels: Type: Docs

#828 x/evm/keeper: save 24B with Go in-condition variable idiom
  .golangci.yml
  CHANGELOG.md
  gometalinter.json
  server/start.go
  x/evm/keeper/msg_server.go
Labels: Type: CI

#842 ci: resort to github's clean up policy
  .github/workflows/clean-artifacts.yml
Labels: Type: CI

#809 fix: increase nonce in ante handler for contract creation tx
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  x/evm/handler_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/state_transition.go
Labels: automerge

#846 docs(evm): Clean up remaining intrarelayer text on docs
  x/evm/spec/06_hooks.md
Labels: Type: Docs
