Repository evmos/ethermint, pull requests merged in 2021-08, with the labels that each got.

#188 docs: update
  docs/basics/README.md
  docs/basics/accounts.md
  docs/basics/gas.md
  docs/basics/hard_spoon.md
  docs/basics/photon.md
  docs/basics/tokens.md
  docs/basics/transactions.md
  docs/core/README.md
  docs/core/encoding.md
  docs/guides/cloud_testnet.md
  docs/guides/join_network.md
  docs/guides/metamask.md
  docs/guides/remix.md
  docs/guides/truffle.md
  docs/intro/architecture.md
  docs/intro/overview.md
  docs/intro/use_cases.md
  docs/quickstart/README.md
  docs/quickstart/clients.md
  docs/quickstart/events.md
  docs/quickstart/installation.md
  docs/quickstart/run_node.md
  docs/quickstart/testnet.md
  docs/quickstart/validator-setup.md
  docs/yarn.lock
  x/evm/spec/01_concepts.md
  x/evm/spec/02_state.md
  x/evm/spec/06_events.md
Labels: Type: Docs

#337 fix: issue #310
  .dockerignore
  .gitignore
  Dockerfile
  Makefile
  docker-compose.yml
  networks/local/Makefile
  networks/local/ethermintnode/Dockerfile
  scripts/start-docker.sh
Labels: automerge

#409 docs: config updates
  .github/workflows/docs.yml
  Makefile
  client/docs/statik/statik.go
  docs/.vuepress/config.js
  docs/.vuepress/public/ethermint-logo-horizontal-alpha.svg
  docs/api/README.md
  docs/api/json-rpc/endpoints.md
  docs/api/json-rpc/namespaces.md
  docs/api/proto-docs.md
  docs/basics/README.md
  docs/basics/accounts.md
  docs/basics/gas.md
  docs/core/README.md
  docs/core/pending_state.md
  docs/guides/README.md
  docs/guides/events.md
  docs/guides/localnet/multi_node.md
  docs/guides/localnet/single_node.md
  docs/guides/tools/remix.md
  docs/guides/tools/truffle.md
  docs/guides/upgrade.md
  docs/guides/wallets/keyring.md
  docs/guides/wallets/metamask.md
  docs/intro/README.md
  docs/intro/architecture.md
  docs/intro/clients.md
  docs/package-lock.json
  docs/package.json
  docs/quickstart/README.md
  docs/quickstart/binary.md
  docs/quickstart/installation.md
  docs/quickstart/interact_node.md
  docs/quickstart/run_node.md
  docs/testnet/README.md
  docs/testnet/cloud_providers.md
  docs/testnet/join.md
  docs/testnet/security.md
  docs/testnet/testnet.md
  docs/testnet/validator-setup.md
  docs/yarn.lock
  scripts/protocgen.sh
Labels: Type: Docs, Type: Build, Type: CI, C:CLI

#399 use stack of contexts to implement snapshot revert
  CHANGELOG.md
  tests/solidity/suites/exception/contracts/TestRevert.sol
  tests/solidity/suites/exception/contracts/test/Migrations.sol
  tests/solidity/suites/exception/migrations/1_initial_migration.js
  tests/solidity/suites/exception/package.json
  tests/solidity/suites/exception/test/.gitkeep
  tests/solidity/suites/exception/test/revert.js
  tests/solidity/suites/exception/truffle-config.js
  x/evm/keeper/context_stack.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
Labels: C:x/evm

#418 RPC backend package refactor
  ethereum/rpc/apis.go
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/eth/api.go
  ethereum/rpc/namespaces/miner/api.go
  ethereum/rpc/namespaces/personal/api.go
Labels: C:JSON-RPC

#427 deps: bump ibc-go to v1
  CHANGELOG.md
  go.mod
  go.sum
Labels: dependencies

#430 docs: additional content
  README.md
  docs/.vuepress/config.js
  docs/DOCS_README.md
  docs/api/README.md
  docs/api/json-rpc/endpoints.md
  docs/api/json-rpc/events.md
  docs/api/json-rpc/namespaces.md
  docs/api/json-rpc/running_server.md
  docs/basics/tokens.md
  docs/guides/README.md
  docs/guides/keys-wallets/keyring.md
  docs/guides/keys-wallets/metamask.md
  docs/intro/clients.md
  docs/intro/resources.md
  docs/quickstart/run_node.md
  docs/testnet/README.md
  docs/testnet/cloud_providers.md
  docs/testnet/join.md
  docs/testnet/testnet.md
  x/evm/atlas/atlas-v0.3.1.md
Labels: Type: Docs

#434 server: configurable tracer
  CHANGELOG.md
  app/ante/eth.go
  app/app.go
  cmd/ethermintd/root.go
  config.yml
  docs/api/json-rpc/events.md
  docs/api/json-rpc/running_server.md
  docs/intro/clients.md
  docs/quickstart/run_node.md
  init.sh
  scripts/contract-test.sh
  scripts/integration-test-all.sh
  scripts/start.sh
  server/config/config.go
  server/config/config_test.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
  tests/solidity/init-test-node.sh
  testutil/network/network.go
  testutil/network/util.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/tracer.go
Labels: Type: Docs, Type: Tests, Type: Build

#447 feat: update chain-id format
  CHANGELOG.md
  app/ante/utils_test.go
  app/app_test.go
  app/test_helpers.go
  client/testnet.go
  cmd/ethermintd/cmd_test.go
  config.yml
  docs/basics/README.md
  docs/basics/accounts.md
  docs/basics/chain_id.md
  docs/basics/gas.md
  docs/basics/tokens.md
  docs/basics/transactions.md
  docs/guides/keys-wallets/metamask.md
  docs/guides/localnet/single_node.md
  docs/quickstart/binary.md
  init.bat
  init.sh
  scripts/contract-test.sh
  scripts/integration-test-all.sh
  scripts/run-solidity-tests.sh
  scripts/start.sh
  tests/solidity/init-test-node.sh
  testutil/network/network.go
  types/chain_id.go
  types/chain_id_test.go
  x/evm/handler_test.go
  x/evm/keeper/keeper_test.go
  x/evm/types/logs.go
Labels: Type: Docs, Type: Tests, C:Types, Type: Build, C:CLI

#448 proto: v1alpha to v1
  CHANGELOG.md
  app/ante/ante.go
  client/docs/config.json
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  crypto/ethsecp256k1/keys.pb.go
  docs/api/proto-docs.md
  docs/basics/accounts.md
  go.mod
  go.sum
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/web3.proto
  types/account.pb.go
  types/codec.go
  types/web3.pb.go
  x/evm/types/codec.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
  x/evm/types/tx.pb.go
Labels: Type: Docs, C:Proto, C:Crypto, C:Types, C:CLI

#449 docs: fixes
  docs/.vuepress/config.js
  docs/api/README.md
  docs/api/json-rpc/events.md
  docs/guides/keys-wallets/metamask.md
  docs/guides/localnet/single_node.md
  docs/intro/clients.md
Labels: Type: Docs

#454 build: update actions
  .github/workflows/docs.yml
  .github/workflows/goreleaser.yml
  go.mod
  go.sum
Labels: Type: CI

#455 docs: versioning
  .github/workflows/build-docs.yml
  .github/workflows/proto.yml
  Makefile
  docs/.vuepress/config.js
  docs/package-lock.json
  docs/versions
  docs/yarn.lock
Labels: Type: Docs, Type: Build, Type: CI

#457 rpc: configure gas cap
  CHANGELOG.md
  docs/api/json-rpc/running_server.md
  docs/yarn.lock
  ethereum/rpc/apis.go
  ethereum/rpc/backend/backend.go
  ethereum/rpc/backend/utils.go
  ethereum/rpc/namespaces/eth/api.go
  ethereum/rpc/namespaces/miner/api.go
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/start.go
  types/params.go
  x/evm/keeper/grpc_query_test.go
Labels: Type: Docs, C:Types, C:JSON-RPC

#458 testnet docs
  docs/.vuepress/config.js
  docs/DOCS_README.md
  docs/basics/tokens.md
  docs/basics/transactions.md
  docs/guides/kms/kms.md
  docs/guides/localnet/single_node.md
  docs/guides/upgrade.md
  docs/guides/validators/checklist.md
  docs/guides/validators/faq.md
  docs/guides/validators/overview.md
  docs/guides/validators/security.md
  docs/guides/validators/setup.md
  docs/quickstart/binary.md
  docs/quickstart/run_node.md
  docs/testnet/README.md
  docs/testnet/join.md
  docs/testnet/testnet.md
  docs/testnet/validator-setup.md
Labels: Type: Docs

#343 server: logger handler
  CHANGELOG.md
  app/ante/ante.go
  cmd/ethermintd/root.go
  ethereum/rpc/apis.go
  go.mod
  go.sum
  init.sh
  log/handler.go
  log/handler_test.go
  server/json_rpc.go
  server/start.go
  server/util.go
  tests/solidity/README.md
  testutil/network/util.go
  x/evm/handler.go
  x/evm/types/utils.go
Labels: Type: Tests, C:JSON-RPC

#464 client: add EIP55 address to `debug` command
  CHANGELOG.md
  client/debug/debug.go
  cmd/ethermintd/root.go
  docs/basics/accounts.md
Labels: Type: Docs, C:CLI

#465 server: remove cors config from JSON-RPC
  docs/api/json-rpc/running_server.md
  server/config/config.go
  server/config/toml.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
Labels: Type: Docs

#466 contributor guidelines
  .github/CODEOWNERS
  CONTRIBUTING.md
  Makefile
  README.md
  docs/ethermint.jpg
  go.sum
Labels: Type: Docs, Type: Build

#468 Update footer logo
  docs/.vuepress/public/logo-bw.svg
  docs/.vuepress/public/logo.svg
Labels: Type: Docs, automerge

#476 app, docs: update Bech32 HRP
  CHANGELOG.md
  client/debug/debug.go
  cmd/config/config.go
  docs/basics/accounts.md
  docs/guides/validators/faq.md
  docs/guides/validators/setup.md
  docs/quickstart/interact_node.md
  tests/solidity/README.md
Labels: Type: Docs, Type: Tests, C:CLI

#478 codec: register Evidence
  CHANGELOG.md
  encoding/codec/codec.go
  go.sum
Labels: C:Encoding

#479 swagger
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  client/docs/swagger_legacy.yaml
  scripts/protoc-swagger-gen.sh
  third_party/proto/cosmos/auth/v1beta1/query.proto
  third_party/proto/cosmos/authz/v1beta1/authz.proto
  third_party/proto/cosmos/authz/v1beta1/event.proto
  third_party/proto/cosmos/authz/v1beta1/genesis.proto
  third_party/proto/cosmos/authz/v1beta1/query.proto
  third_party/proto/cosmos/authz/v1beta1/tx.proto
  third_party/proto/cosmos/bank/v1beta1/authz.proto
  third_party/proto/cosmos/bank/v1beta1/bank.proto
  third_party/proto/cosmos/bank/v1beta1/genesis.proto
  third_party/proto/cosmos/bank/v1beta1/query.proto
  third_party/proto/cosmos/base/query/v1beta1/pagination.proto
  third_party/proto/cosmos/base/reflection/v2alpha1/reflection.proto
  third_party/proto/cosmos/base/store/v1beta1/listening.proto
  third_party/proto/cosmos/base/tendermint/v1beta1/query.proto
  third_party/proto/cosmos/crypto/ed25519/keys.proto
  third_party/proto/cosmos/crypto/secp256r1/keys.proto
  third_party/proto/cosmos/feegrant/v1beta1/feegrant.proto
  third_party/proto/cosmos/feegrant/v1beta1/genesis.proto
  third_party/proto/cosmos/feegrant/v1beta1/query.proto
  third_party/proto/cosmos/feegrant/v1beta1/tx.proto
  third_party/proto/cosmos/gov/v1beta1/gov.proto
  third_party/proto/cosmos/gov/v1beta1/tx.proto
  third_party/proto/cosmos/slashing/v1beta1/genesis.proto
  third_party/proto/cosmos/staking/v1beta1/authz.proto
  third_party/proto/cosmos/staking/v1beta1/staking.proto
  third_party/proto/cosmos/tx/v1beta1/service.proto
  third_party/proto/cosmos/tx/v1beta1/tx.proto
  third_party/proto/cosmos/upgrade/v1beta1/query.proto
  third_party/proto/cosmos/upgrade/v1beta1/upgrade.proto
  third_party/proto/cosmos/vesting/v1beta1/vesting.proto
  third_party/proto/cosmos_proto/cosmos.proto
  third_party/proto/gogoproto/gogo.proto
  third_party/proto/tendermint/abci/types.proto
  third_party/proto/tendermint/types/evidence.proto
  third_party/proto/tendermint/types/params.proto
  third_party/proto/tendermint/types/types.proto
Labels: C:Proto, Type: Build, C:CLI

#482 docs: add links
  docs/api/json-rpc/endpoints.md
Labels: Type: Docs

#474 Add Ethereum Tooling Guides
  docs/.vuepress/config.js
  docs/guides/README.md
  docs/guides/keys-wallets/metamask.md
  docs/guides/tools/hardhat.md
  docs/guides/tools/remix.md
  docs/guides/tools/truffle.md
  docs/package-lock.json
  docs/package.json
  docs/yarn.lock
Labels: Type: Docs

#484 docs: fixes
  docs/basics/accounts.md
  docs/core/pending_state.md
  docs/guides/keys-wallets/multisig.md
  docs/package-lock.json
  docs/quickstart/installation.md
  docs/yarn.lock
Labels: Type: Docs

#487 docs: validator FAQ
  docs/guides/validators/faq.md
  docs/guides/validators/overview.md
Labels: Type: Docs

#469 evm: go-ethereum related updates
  CHANGELOG.md
  Makefile
  buf.work.yaml
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/buf.yaml
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/types/v1/web3.proto
  proto/ethermint/types/web3.proto
  third_party/proto/buf.yaml
  third_party/proto/cosmos/authz/v1beta1/tx.proto
  third_party/proto/cosmos/feegrant/v1beta1/tx.proto
  types/web3.pb.go
  x/evm/keeper/abci.go
  x/evm/keeper/eip1559.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/evm.pb.go
  x/evm/types/key.go
  x/evm/types/params.go
  x/evm/types/params_test.go
  x/evm/types/query.pb.go
  x/evm/types/query.pb.gw.go
Labels: Type: Docs, C:Proto, C:Types, Type: Build, C:CLI

#508 docs: testnet
  docs/.vuepress/config.js
  docs/basics/accounts.md
  docs/basics/tokens.md
  docs/testnet/README.md
  docs/testnet/cloud_providers.md
  docs/testnet/faucet.md
  docs/testnet/img/faucet_web_page.png
  proto/buf.yaml
Labels: Type: Docs, C:Proto

#461 stateDB txlog store enhancement
  CHANGELOG.md
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
Labels: C:x/evm, automerge

#514 evm: benchmark state DB
  app/ante/eth.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_benchmark_test.go
Labels: Type: Tests, C:x/evm

#515 evm: GetHashFn test
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition_test.go
Labels: Type: Tests, C:x/evm
