Repository evmos/ethermint, pull requests merged in 2021-10, with the labels that each got.

#611 rpc: fix panic
  CHANGELOG.md
  ethereum/rpc/backend/backend.go
Labels: C:JSON-RPC

#612 Restructure JSON-RPC directory and rename server config
  CHANGELOG.md
  go.sum
  rpc/apis.go
  rpc/doc.go
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/debug/trace.go
  rpc/ethereum/namespaces/debug/trace_fallback.go
  rpc/ethereum/namespaces/debug/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/namespaces/eth/filters/filter_system.go
  rpc/ethereum/namespaces/eth/filters/filters.go
  rpc/ethereum/namespaces/eth/filters/subscription.go
  rpc/ethereum/namespaces/eth/filters/utils.go
  rpc/ethereum/namespaces/miner/api.go
  rpc/ethereum/namespaces/miner/unsupported.go
  rpc/ethereum/namespaces/net/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/namespaces/txpool/api.go
  rpc/ethereum/namespaces/web3/api.go
  rpc/ethereum/pubsub/pubsub.go
  rpc/ethereum/pubsub/pubsub_test.go
  rpc/ethereum/types/addrlock.go
  rpc/ethereum/types/block.go
  rpc/ethereum/types/block_test.go
  rpc/ethereum/types/query_client.go
  rpc/ethereum/types/types.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  server/json_rpc.go
  server/start.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  testutil/network/util.go
  x/evm/client/cli/query.go
  x/evm/client/rest/rest.go
Labels: Type: Tests, C:CLI

#620 evm: geth 1.10.9 fee market changes to `Keeper` and `AnteHandler`
  CHANGELOG.md
  app/ante/ante.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/utils_test.go
  app/app.go
  docs/api/proto-docs.md
  docs/protodoc-markdown.tmpl
  go.mod
  go.sum
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  x/evm/keeper/grpc_query.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/interfaces.go
  x/evm/types/params.go
  x/evm/types/query.pb.go
  x/evm/types/tx_args.go
Labels: Type: Docs, C:Proto

#231 all: bump go-ethereum to v1.10.9
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  client/config_test.go
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  encoding/config_test.go
  go.mod
  go.sum
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/types/v1/account.proto
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/personal/api.go
  rpc/ethereum/types/query_client.go
  rpc/ethereum/types/types.go
  rpc/ethereum/types/utils.go
  x/evm/keeper/benchmark_test.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_benchmark_test.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils.go
  x/evm/keeper/utils_test.go
  x/evm/types/callargs.go
  x/evm/types/chain_config.go
  x/evm/types/dynamic_fee_tx.go
  x/evm/types/evm.pb.go
  x/evm/types/msg.go
  x/evm/types/msg_test.go
  x/evm/types/params.go
  x/evm/types/query.go
  x/evm/types/query.pb.go
  x/evm/types/tracer.go
  x/evm/types/tx_args.go
  x/evm/types/tx_data.go
  x/evm/types/utils_test.go
Labels: Type: Docs, C:Proto, C:Encoding, C:CLI

#617 Problem: iterator on deeply nested cache contexts is extremely slow
  CHANGELOG.md
  x/evm/keeper/context_stack.go
  x/evm/keeper/state_transition.go
Labels: Type: Bug

#631 docs: fix broken links in markdown files
  docs/architecture/PROCESS.md
  docs/architecture/adr-002-evm-hooks.md
Labels: Type: Docs, Type: ADR
