Repository evmos/ethermint, pull requests merged in 2022-12, with the labels that each got.

#1515 tests(filters) add logs by topic test case
  default.nix
  tests/integration_tests/test_filters.py
Labels: Type: Tests

#1522 chore(all): markdownlint
  tests/integration_tests/README.md
  x/feemarket/spec/01_concepts.md
Labels: Type: Docs, Type: Tests

#1500 tests: block gas limit tests
  app/ante/eth_test.go
  gomod2nix.toml
  tests/integration_tests/test_gas.py
Labels: Type: Tests

#1528 feat(ci): add Golang dependency vulnerability check
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  CHANGELOG.md
  Makefile
  cmd/ethermintd/flags.go
Labels: Type: Build, Type: CI

#1529 Release `v0.20.0-rc3`
  .github/workflows/dependencies.yml
  .github/workflows/lint.yml
  CHANGELOG.md
  Makefile
  app/ante/ante.go
  app/ante/eip712.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  cmd/ethermintd/flags.go
  default.nix
  go.mod
  go.sum
  gomod2nix.toml
  tests/integration_tests/README.md
  tests/integration_tests/hardhat/package-lock.json
  tests/integration_tests/test_filters.py
  tests/integration_tests/test_gas.py
  tests/solidity/yarn.lock
  x/evm/keeper/state_transition.go
  x/feemarket/spec/01_concepts.md
Labels: Type: Docs, Type: Tests, Type: Build, Type: CI

#1531 Skip undeterministic integration test
  gomod2nix.toml
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_grpc_only.py
Labels: Type: Tests

#1546 chore(release): v0.20-rc4
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependencies.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  CHANGELOG.md
  app/ante/utils_test.go
  app/app.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  go.mod
  go.sum
  gomod2nix.toml
  tests/integration_tests/poetry.lock
  tests/integration_tests/test_gas.py
  tests/integration_tests/test_grpc_only.py
  tests/solidity/yarn.lock
  x/feemarket/spec/01_concepts.md
Labels: Type: Docs, Type: Tests, C:Crypto, Type: CI

#1549 debug(app): add flag to disable optimized build for remote debugging
  Makefile
Labels: Type: Build

#1550 fix(cli): fix Ledger signature algorithm verification
  CHANGELOG.md
  client/keys/add.go
Labels: C:CLI

#1568 fix (docs): replace evmos.dev links with docs.evmos.org links
  README.md
  x/evm/spec/02_state.md
  x/evm/spec/06_hooks.md
Labels: Type: Docs

#1569 Release `v0.20-rc5`
  CHANGELOG.md
  Makefile
  app/ante/eth.go
  client/keys/add.go
  go.mod
  go.sum
  rpc/backend/node_info.go
  rpc/backend/sign_tx.go
Labels: Type: Build, C:CLI

#1574 Enable metrics on init.sh script
  init.sh
  tests/solidity/init-test-node.sh
Labels: Type: Tests
