Repository evmos/ethermint, pull requests merged in 2022-03, with the labels that each got.

#968 Problem: Metamask keeps failing sending transactions
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
Labels: automerge

#971 release: v0.10.1 changelog
  .github/workflows/build.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-contract.yml
  .github/workflows/goreleaser.yml
  .github/workflows/labeler.yml
  .github/workflows/linkchecker.yml
  .github/workflows/lint.yml
  .github/workflows/proto.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  .github/workflows/test.yml
  CHANGELOG.md
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/eth/api.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/types/tx.go
Labels: Type: CI

#964 Fix GasMeter reset in AnteHandler - EthGasConsumeDecorator
  CHANGELOG.md
  app/ante/eth.go
  app/ante/eth_test.go
  types/gasmeter.go
  x/evm/keeper/state_transition.go
Labels: automerge

#1021 imp: migrate JSON for feemarket
  CHANGELOG.md
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
  x/feemarket/types/keys.go
Labels: Type: Tests, C:CLI

#1022 changelog: v0.12.2
  CHANGELOG.md
  client/testnet.go
  rpc/ethereum/backend/feebackend.go
  tests/importer/chain_ctx.go
  x/feemarket/keeper/migrations.go
  x/feemarket/keeper/migrations_test.go
  x/feemarket/migrations/v010/migrate.go
  x/feemarket/migrations/v010/migrate_test.go
  x/feemarket/migrations/v09/types/feemarket.pb copy.go
  x/feemarket/migrations/v09/types/genesis.pb copy.go
  x/feemarket/types/keys.go
Labels: Type: Tests, C:CLI
