Repository evmos/ethermint, pull requests merged in 2022-11, with the labels that each got.

#1419 backport: add v0.19.3 dragonberry changes to `main` and bump iavl to v0.19.4
  .github/workflows/lint.yml
  .golangci.yml
  CHANGELOG.md
  go.mod
  go.sum
  gomod2nix.toml
  x/feemarket/types/keys.go
Labels: Type: CI

#1428 imp: reduce integration test block time to 2s
  tests/integration_tests/configs/default.jsonnet
  tests/integration_tests/test_pruned_node.py
  tests/integration_tests/test_upgrade.py
  tests/integration_tests/utils.py
Labels: Type: Tests

#1397 Refactor EIP-712 signature verification
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/utils_test.go
  cmd/ethermintd/root.go
  crypto/ethsecp256k1/ethsecp256k1.go
  ethereum/eip712/eip712_test.go
  ethereum/eip712/encoding.go
  types/validation_test.go
Labels: C:Crypto, C:Types

#1442 fix(rpc): decode `finalized` block number
  CHANGELOG.md
  rpc/types/block.go
Labels: 🐛 Bug: Low

#1462 remove unused tests
  tests/e2e/integration_test.go
Labels: Type: Tests

#1463 fix: remove e2e github action
  .github/workflows/test.yml
  Makefile
  scripts/integration-test-all.sh
Labels: Type: Build, Type: CI

#1467 fix: extend geth config on integration tests
  scripts/start-geth.sh
Labels: Type: Build

#1474 tests: add gas consumption test
  tests/integration_tests/test_gas.py
Labels: Type: Tests

#1455 imp(ante): refactor `AnteHandler`
  CHANGELOG.md
  app/ante/eth.go
  scripts/integration-test-all.sh
Labels: Type: Build

#1477 tests: add additional gas consumption tests
  gomod2nix.toml
  tests/integration_tests/contracts/contracts/BurnGas.sol
  tests/integration_tests/test_gas.py
  tests/integration_tests/utils.py
Labels: Type: Tests

#1471 chore: update proto make commands
  Makefile
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  proto/ethermint/evm/v1/evm.proto
  scripts/protocgen.sh
Labels: C:Proto, Type: Build, C:CLI

#1478 chore: Update linter and protogen configuration
  .clang-format
  .github/workflows/super-linter.yml
  .markdownlint.yml
  .protolint.yml
  Makefile
  crypto/ethsecp256k1/keys.pb.go
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
  scripts/protocgen.sh
  types/account.pb.go
  types/dynamic_fee.pb.go
  types/indexer.pb.go
  types/web3.pb.go
  x/evm/types/evm.pb.go
  x/evm/types/genesis.pb.go
  x/evm/types/query.pb.go
  x/evm/types/tx.pb.go
  x/feemarket/types/feemarket.pb.go
  x/feemarket/types/genesis.pb.go
  x/feemarket/types/query.pb.go
Labels: C:Proto, C:Crypto, C:Types, Type: Build, Type: CI

#1499 fix(evm): Added Cancun and Shanghai blocks to ChainConfig
  CHANGELOG.md
  app/ante/utils_test.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/keeper_test.go
  x/evm/types/chain_config.go
  x/evm/types/chain_config_test.go
  x/evm/types/evm.pb.go
Labels: C:Proto

#1507 Remove simulation checks
  .github/workflows/test.yml
  CHANGELOG.md
  Makefile
  app/ante/signverify_test.go
  app/app.go
  app/simulation_test.go
  app/utils.go
  app/utils_test.go
  x/evm/module.go
  x/evm/simulation/decoder.go
  x/evm/simulation/decoder_test.go
  x/evm/simulation/genesis.go
  x/evm/simulation/genesis_test.go
  x/evm/simulation/operations.go
  x/evm/simulation/params.go
  x/evm/simulation/params_test.go
  x/feemarket/module.go
  x/feemarket/simulation/genesis.go
Labels: Type: Build, Type: CI

#1503 json-rpc(filters) fix block hash on newBlock filter
  CHANGELOG.md
  rpc/namespaces/ethereum/eth/filters/api.go
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Labels: Type: Tests, C:JSON-RPC, 🐛 Bug: Medium

#1480 tests(filters) add/improve integration tests for JSON-RPC methods
  gomod2nix.toml
  scripts/run-integration-tests.sh
  tests/integration_tests/contracts/contracts/TestERC20A.sol
  tests/integration_tests/hardhat/.gitignore
  tests/integration_tests/hardhat/README.md
  tests/integration_tests/hardhat/contracts/BurnGas.sol
  tests/integration_tests/hardhat/contracts/ChainID.sol
  tests/integration_tests/hardhat/contracts/Greeter.sol
  tests/integration_tests/hardhat/contracts/Mars.sol
  tests/integration_tests/hardhat/contracts/TestERC20A.sol
  tests/integration_tests/hardhat/hardhat.config.ts
  tests/integration_tests/hardhat/package-lock.json
  tests/integration_tests/hardhat/package.json
  tests/integration_tests/hardhat/tsconfig.json
  tests/integration_tests/test_filters.py
  tests/integration_tests/utils.py
Labels: Type: Tests, Type: Build
