Repository evmos/ethermint, pull requests merged in 2022-10, with the labels that each got.

#1388 refactor: optimize AnteHandler gas consumption
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  ethereum/eip712/preprocess_test.go
  tests/rpc/ws_test.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/types/access_list_tx_test.go
  x/evm/types/dynamic_fee_tx_test.go
  x/evm/types/genesis_test.go
  x/evm/types/logs_test.go
  x/evm/types/tx_args_test.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/params.go
  x/feemarket/keeper/params_test.go
Labels: Type: Tests

#1395 feat: format protobuf files
  go.mod
  go.sum
  gomod2nix.toml
  proto/ethermint/crypto/v1/ethsecp256k1/keys.proto
  proto/ethermint/evm/v1/evm.proto
  proto/ethermint/evm/v1/genesis.proto
  proto/ethermint/evm/v1/query.proto
  proto/ethermint/evm/v1/tx.proto
  proto/ethermint/feemarket/v1/feemarket.proto
  proto/ethermint/feemarket/v1/genesis.proto
  proto/ethermint/feemarket/v1/query.proto
  proto/ethermint/types/v1/account.proto
  proto/ethermint/types/v1/dynamic_fee.proto
  proto/ethermint/types/v1/indexer.proto
  proto/ethermint/types/v1/web3.proto
Labels: C:Proto

#1355 tests(websocket): websocket integration tests
  .flake8
  tests/integration_tests/conftest.py
  tests/integration_tests/test_types.py
  tests/integration_tests/test_websockets.py
Labels: Type: Tests

#1416 deps: bump go to v1.19
  .github/workflows/build.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .golangci.yml
  CHANGELOG.md
  Makefile
  README.md
  go.mod
  networks/local/ethermintnode/Dockerfile
Labels: Type: Build, Type: CI

#1417 chore(cli): apply google CLI Syntax for required and optional args
  CHANGELOG.md
  cmd/ethermintd/genaccounts.go
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/spec/09_client.md
  x/feemarket/spec/08_client.md
Labels: Type: Docs, C:CLI

#1418 chore(ci): update linters
  .github/CODEOWNERS
  .github/workflows/codeql-analysis.yml
  .github/workflows/lint.yml
  .github/workflows/markdown-links.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  .gitignore
  .markdownlintignore
  .mergify.yml
  .solhint.json
  .yamllint
  CONTRIBUTING.md
  gometalinter.json
  mlc_config.json
  starport.yml
Labels: Type: CI
