Repository evmos/ethermint, pull requests merged in 2022-01, with the labels that each got.

#849 Change evm_hook to use Transaction Receipt
  CHANGELOG.md
  client/docs/statik/statik.go
  client/docs/swagger-ui/swagger.yaml
  docs/api/proto-docs.md
  go.mod
  go.sum
  proto/ethermint/evm/v1/tx.proto
  types/account.go
  types/account_test.go
  x/evm/handler_test.go
  x/evm/keeper/hooks.go
  x/evm/keeper/hooks_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/state_transition.go
  x/evm/types/interfaces.go
  x/evm/types/tx.pb.go
  x/feemarket/keeper/grpc_query_test.go
Labels: Type: Docs, C:Proto, C:Types, C:CLI

#875 moving tests to integration_test.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_test.go
Labels: Type: Tests

#882 deps: IBC v3 alpha2
  app/app.go
  go.mod
  go.sum
Labels: dependencies

#884 types, evm: refactor accounts
  CHANGELOG.md
  app/ante/eth.go
  app/ante/interfaces.go
  types/account.go
  types/code.go
  x/evm/genesis.go
  x/evm/keeper/grpc_query.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/statedb.go
  x/evm/keeper/statedb_test.go
  x/evm/keeper/utils_test.go
  x/evm/statedb/interfaces.go
  x/evm/statedb/mock_test.go
  x/evm/statedb/statedb.go
  x/evm/statedb/statedb_test.go
Labels: C:Types

#892 deps: IBC v3 alpha2
  go.mod
  go.sum
Labels: dependencies

#912 deps: bump SDK version to v0.45.0
  CHANGELOG.md
  client/testnet.go
  go.mod
  go.sum
  testutil/network/network.go
Labels: dependencies, D: Cosmos SDK, C:CLI

#917 ci: semgrep config
  .github/workflows/semgrep.yml
  .semgrepignore
Labels: Type: CI

#923 release: v0.10.0-alpha2
  .github/workflows/semgrep.yml
  .semgrepignore
  CHANGELOG.md
  app/ante/ante_test.go
  app/ante/eth.go
  app/ante/eth_test.go
  app/ante/handler_options.go
  app/ante/interfaces.go
  client/testnet.go
  go.mod
  go.sum
  init.sh
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/utils.go
  rpc/ethereum/namespaces/debug/api.go
  rpc/ethereum/namespaces/eth/api.go
  rpc/ethereum/namespaces/eth/filters/api.go
  rpc/ethereum/types/utils.go
  rpc/websockets.go
  server/flags/flags.go
  server/json_rpc.go
  server/start.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_test.go
  tests/solidity/init-test-node.sh
  tests/solidity/yarn.lock
  testutil/network/network.go
  x/evm/client/rest/rest.go
  x/evm/keeper/keeper.go
  x/evm/keeper/keeper_test.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/keeper/state_transition_test.go
  x/evm/keeper/utils.go
  x/evm/spec/02_state.md
  x/evm/spec/07_events.md
  x/evm/types/SimpleStorageContract.json
  x/evm/types/compiled_contract.go
  x/evm/types/events.go
  x/evm/types/key.go
  x/evm/types/msg.go
  x/evm/types/utils.go
  x/evm/types/utils_test.go
  x/feemarket/keeper/grpc_query_test.go
  x/feemarket/types/genesis.go
Labels: Type: Docs, Type: Tests, Type: CI, C:CLI
