Repository evmos/ethermint, pull requests merged in 2022-05, with the labels that each got.

#1070 rpc: refactor rpc packages and backend to support cosmos namespace
  CHANGELOG.md
  rpc/apis.go
  rpc/backend/backend.go
  rpc/backend/evm_backend.go
  rpc/backend/utils.go
  rpc/ethereum/backend/feebackend.go
  rpc/namespaces/ethereum/debug/api.go
  rpc/namespaces/ethereum/debug/trace.go
  rpc/namespaces/ethereum/debug/trace_fallback.go
  rpc/namespaces/ethereum/debug/utils.go
  rpc/namespaces/ethereum/eth/api.go
  rpc/namespaces/ethereum/eth/filters/api.go
  rpc/namespaces/ethereum/eth/filters/filter_system.go
  rpc/namespaces/ethereum/eth/filters/filters.go
  rpc/namespaces/ethereum/eth/filters/subscription.go
  rpc/namespaces/ethereum/eth/filters/utils.go
  rpc/namespaces/ethereum/miner/api.go
  rpc/namespaces/ethereum/miner/unsupported.go
  rpc/namespaces/ethereum/net/api.go
  rpc/namespaces/ethereum/personal/api.go
  rpc/namespaces/ethereum/txpool/api.go
  rpc/namespaces/ethereum/web3/api.go
  rpc/types/addrlock.go
  rpc/types/block.go
  rpc/types/block_test.go
  rpc/types/query_client.go
  rpc/types/types.go
  rpc/types/utils.go
  rpc/websockets.go
  server/start.go
  tests/e2e/integration_test.go
  tests/rpc/rpc_pending_test.go
  tests/rpc/rpc_test.go
  x/evm/client/cli/query.go
  x/evm/client/cli/tx.go
  x/evm/client/rest/rest.go
Labels: Type: Tests, C:CLI, API breaking

#1073 ci: bump simulations timeout
  .github/workflows/test.yml
  CHANGELOG.md
Labels: Type: CI

#1095 specs(evm): Add concepts
  CHANGELOG.md
  x/evm/spec/01_concepts.md
Labels: Type: Docs
