Repository evmos/ethermint, pull requests merged in 2022-07, with the labels that each got.

#1165 feemarket(specs): add hint on different gas terminology for gas in Cosmos and Ethereum
  CHANGELOG.md
  Makefile
  x/feemarket/spec/01_concepts.md
Labels: Type: Docs, Type: Build

#1177 release: v0.10.2 changelog with backport
  CHANGELOG.md
  app/app.go
  client/testnet.go
  ethereum/eip712/eip712.go
  go.sum
  rpc/ethereum/backend/backend.go
  rpc/ethereum/backend/feebackend.go
  rpc/ethereum/namespaces/eth/api.go
  tests/importer/chain_ctx.go
Labels: Type: Tests, C:CLI

#1188 fix(rpc): fix panic on breaking EVM and feemarket params
  .mergify.yml
  CHANGELOG.md
  server/json_rpc.go
  x/evm/keeper/params.go
  x/feemarket/keeper/params.go
Labels: Type: CI, backport/0.17.x
