Repository evmos/ethermint, pull requests merged in 2023-01, with the labels that each got.

#1560 impr (ci): add python and javascript to codeql analysis
  .github/workflows/codeql-analysis.yml
Labels: Type: CI

#1544 chore(evm, feemarket) - Migrate Event emitting to TypedEvent
  CHANGELOG.md
  proto/ethermint/evm/v1/events.proto
  proto/ethermint/feemarket/v1/events.proto
  scripts/integration-test-all.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/grpc_query_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/keeper/state_transition.go
  x/evm/types/events.pb.go
  x/feemarket/keeper/abci.go
  x/feemarket/types/events.pb.go
Labels: Type: Tests, C:Proto, Type: Build

#1600 fix: revert changes from TypedEvents
  .github/workflows/test.yml
  scripts/integration-test-all.sh
  tests/rpc/rpc_test.go
  x/evm/keeper/abci_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/msg_server.go
  x/evm/types/events.pb.go
  x/feemarket/keeper/abci.go
  x/feemarket/types/events.pb.go
Labels: Type: Tests, Type: Build, Type: CI

#1624 fix(evm): handle RC1 params during migration
  app/app.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/keeper/migrations.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
  x/evm/types/params_test.go
Labels: C:Proto

#1617 refactor(params): store all params under one key in evm module
  CHANGELOG.md
  app/ante/eth.go
  app/ante/fee_market.go
  app/ante/fees.go
  app/ante/interfaces.go
  app/ante/setup.go
  app/ante/sigverify.go
  app/app.go
  proto/ethermint/evm/v1/evm.proto
  x/evm/handler_test.go
  x/evm/keeper/keeper.go
  x/evm/keeper/migrations.go
  x/evm/keeper/params.go
  x/evm/keeper/params_test.go
  x/evm/keeper/utils_test.go
  x/evm/migrations/v4/migrate.go
  x/evm/migrations/v4/migrate_test.go
  x/evm/migrations/v4/types/chain_config.go
  x/evm/migrations/v4/types/evm.pb.go
  x/evm/migrations/v4/types/params.go
  x/evm/migrations/v5/migrate.go
  x/evm/migrations/v5/migrate_test.go
  x/evm/migrations/v5/types/evm.pb.go
  x/evm/module.go
  x/evm/types/evm.pb.go
  x/evm/types/key.go
  x/evm/types/params.go
  x/evm/types/params_legacy.go
  x/evm/types/params_test.go
Labels: C:Proto
